@model ExamenNet.Models.Productos

@{
    ViewData["Title"] = "Edit";
}

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_Producto" />
            <div class="form-group">
                <label class="control-label">Nombre de Producto</label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Impuesto" class="control-label"></label>
                <input asp-for="Impuesto" class="form-control" />
                <span asp-validation-for="Impuesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Sucursal</label>
                <select asp-for="ID_Sucursal" class="form-control" asp-items="ViewBag.ID_Sucursal"></select>
                <span asp-validation-for="ID_Sucursal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
