<div class="container p-5">
    <div class="row">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Listado de Ventas
                </div>
                <div class="card-body">
                    <h5 class="card-title">Consulta de Sucursales</h5>
                    <p class="card-text">Consulta de todas las sucursales</p>
                    <a class="btn btn-primary" asp-controller="Sucursals" asp-action="Index">Consultar</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Nueva Sucursal
                </div>
                <div class="card-body">
                    <h5 class="card-title">Agregar</h5>
                    <p class="card-text">Registro de nueva Sucursal</p>
                    <a class="btn btn-success" asp-controller="Sucursals" asp-action="Create">Generar</a>
                </div>
            </div>
        </div>
    </div>
</div>