
<div class="container p-5">
    <div class="row">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Listado de Ventas
                </div>
                <div class="card-body">
                    <h5 class="card-title">Consulta de Ventas</h5>
                    <p class="card-text">Consulta de Ventas</p>
                    <a class="btn btn-primary" asp-controller="Ventas" asp-action="Index">Consultar</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Nueva Venta
                </div>
                <div class="card-body">
                    <h5 class="card-title">Venta</h5>
                    <p class="card-text">Registro de nueva venta.</p>
                    <a class="btn btn-success" asp-controller="Ventas" asp-action="Create">Generar</a>
                </div>
            </div>
        </div>
    </div>
</div>

