@model ExamenNet.Models.Promociones

@{
    ViewData["Title"] = "Edit";
}

<h4>Promociones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_Promocion" />
            <div class="form-group">
                <label asp-for="NombrePromocion" class="control-label"></label>
                <input asp-for="NombrePromocion" class="form-control" />
                <span asp-validation-for="NombrePromocion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPromocion" class="control-label"></label>
                <input asp-for="TotalPromocion" class="form-control" />
                <span asp-validation-for="TotalPromocion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
