<div class="container p-5">
    <div class="row">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Listado de Promociones
                </div>
                <div class="card-body">
                    <h5 class="card-title">Consulta de Promociones</h5>
                    <p class="card-text">Consulta de promociones existentes.</p>
                    <a class="btn btn-primary" asp-controller="Promociones" asp-action="Index">Consultar</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Nueva Promoción
                </div>
                <div class="card-body">
                    <h5 class="card-title">Venta</h5>
                    <p class="card-text">Registro de nueva promoción</p>
                    <a class="btn btn-success" asp-controller="Promociones" asp-action="Create">Generar</a>
                </div>
            </div>
        </div>
    </div>
</div>