@model ExamenNet.Models.Clientes

@{
    ViewData["Title"] = "Edit";
}

<h4>Clientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_Cliente" />
            <div class="form-group">
                <label asp-for="NombreCliente" class="control-label"></label>
                <input asp-for="NombreCliente" class="form-control" />
                <span asp-validation-for="NombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCliente" class="control-label"></label>
               @*<input asp-for="TipoCliente" class="form-control" /> *@
               <select asp-for="TipoCliente" class="form-control">
                   <option value="Publico General">Público General</option>
                    <option value="Preferencial">Preferencial</option>
                    <option value="Empresarial">Empresarial</option>
               </select>
                <span asp-validation-for="TipoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descuento" class="control-label"></label>
                <input asp-for="Descuento" class="form-control" />
                <span asp-validation-for="Descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Usuarios" class="control-label"></label>
                <select asp-for="ID_Usuarios" class="form-control" asp-items="ViewBag.ID_Usuarios"></select>
                <span asp-validation-for="ID_Usuarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
