<div class="container p-5">
    <div class="row">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Listado de Clientes
                </div>
                <div class="card-body">
                    <h5 class="card-title">Consulta de Clientes</h5>
                    <p class="card-text">Consulta de Clientes existentes.</p>
                    <a class="btn btn-primary" asp-controller="Clientes" asp-action="Index">Consultar</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Nuevo Cliente
                </div>
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Registro de nuevo Cliente</p>
                    <a class="btn btn-success" asp-controller="Clientes" asp-action="Create">Generar</a>
                </div>
            </div>
        </div>
    </div>
</div>